@media screen and (max-width: 424px) {
  .header-container {
    .header {
      .logo-lotus {
        top: 5%;
        left: 5%;
        img {
          width: 50%;
          height: auto;
        }
      }
      .menu-header {
        top: 30%;
        left: 90%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 70px;
        .toggle-button {
          display: block;
          font-size: 14px;
        }
        .menu-list {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 100%;
          left: 20%;
          // transform: translate(-50%, -50%);
          background-color: #c7f0db;
          padding: 2px;
          li {
            margin-right: 0px;
            a {
              text-decoration: none;
              color: #594149;
              font-size: 10px;
              font-weight: 400;
            }
          }
        }
        .menu-list.show {
          display: flex;
        }
      }
      .search-container {
        position: absolute;
        top: 8%;
        right: 4%;
        display: flex;
        align-items: center;
        .search-input {
          display: none;
          width: 150px;
          height: 18px;
          padding: 5px;
          font-size: 12px;
          background-color: #c7f0db;
          border: none;
        }
        .show {
          display: block;
        }
        #search-icon {
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
    .sliders-item {
      .slider-text {
        width: 300px;
        top: 50%;
        left: 50%;
        h1 {
          font-size: 20px;
          margin: 0;
        }
        p {
          font-size: 10px;
        }
      }
    }
    .btn-register {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      button {
        width: 122px;
        height: 25px;
        font-size: 10px;
      }
    }
    .dots-box {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #c7f0db;
        opacity: 0.5;
        display: inline-block;
        margin: 0 2px;
      }
      .dot.active {
        background-color: #464159;
        opacity: 1;
      }
    }
  }
  .our-stats {
    .text-our-stats {
      h2 {
        font-size: 18px;
        margin: 10px;
      }
      p {
        font-size: 10px;
        width: 300px;
      }
    }
    .info-box {
      width: 300px;
      left: 50%;
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 10px;
      }
    }
  }
  .about-us {
    .text-about-us {
      top: 12%;
      h2 {
        font-size: 18px;
      }
      p {
        width: 300px;
        font-size: 10px;
      }
    }
    .timer-yoga {
      top: 60%;
      .schedule-yoga {
        .img-of-yoga {
          img {
            width: 50%;
            height: auto;
          }
        }
        .text-box {
          h6 {
            font-size: 12px;
            margin: 10px;
          }
          p {
            font-size: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .nav-buttons {
      button {
        .icon-wrapper {
          width: 40px;
          height: 40px;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
  .best-instructor {
    .content-of-img {
      gap: 10px;
      padding: 20px;
      .text-best-new {
        padding: 0;
        margin: 10px;
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 10px;
          padding: 0;
          margin: 0;
        }
        button {
          width: 82px;
          height: 25px;
          font-size: 12px;
          margin: 10px auto;
        }
      }
    }
  }

  .new-experiece {
    .img-best-new {
      img {
        width: 100%;
        height: auto;
      }
    }
    .content-of-img {
      padding: 30px;
      gap: 30px;
      .text-best-new {
        padding: 0;
        h2 {
          font-size: 18px;
        }

        p {
          font-size: 10px;
          padding: 0;
          margin: 0 auto;
        }
        button {
          width: 82px;
          height: 25px;
          font-size: 12px;
          margin: 10px auto;
        }
      }
    }
  }
  .pricing {
    .text-pricing {
      margin-bottom: 10px;
      h2 {
        font-size: 18px;
        padding: 0;
        margin: 0 auto;
      }
      p {
        font-size: 10px;
        margin: 5px;
      }
    }
    .prizes-container {
      .prize {
        width: 200px;
        h5 {
          font-size: 16px;
          margin: 10px;
        }
        h6 {
          font-size: 16px;
          margin: 10px;
        }
        p {
          font-size: 12px;
          margin: 0 auto;
          width: 200px;
        }
        button {
          width: 100px;
          height: 25px;
          font-size: 12px;
          word-spacing: normal;
          margin: 10px;
        }
      }
    }
    .navigation-buttons {
      .button-prev,
      .button-next {
        .icon-wrapper {
          width: 30px;
          height: 30px;
        }
        i {
          font-size: 16px;
        }
      }
    }
  }
  .leona-woods {
    .text-leona {
      top: 10%;
      left: 10%;
      h4 {
        font-size: 12px;
      }
      p {
        font-size: 10px;
      }
    }
  }
  .our-update {
    .text-our-update {
      top: 12%;
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 10px;
        margin: 0;
      }
      .subscribe-box {
        input {
          width: 100px;
          height: 33px;
          padding: 0 10px;
          font-size: 12px;
          margin: 10px 0;
        }
        button {
          width: 75px;
          height: 31px;
          font-size: 12px;
          padding: 0;
        }
      }
    }
  }
  .footer {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    .footer-text {
      h4 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
        width: 300px;
        margin: 10px 0;
      }
    }
    .list-infor {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 20px;
      gap: 10px;
      ul {
        h4 {
          font-size: 16px;
        }
        li {
          margin: 5px;
        }
      }
      .list-about,
      .list-services,
      .list-follow {
        flex: 1;
        max-width: 300px;
        margin-bottom: 10px;
      }
      .list-follow {
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
        }

        .list-follow .icon {
          margin-right: 10px;
        }

        .icon-group {
          display: grid;
          grid-template-columns: repeat(2, 1fr); // Split into 2 columns
          gap: 10px; // Gap between items in the group
          div {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
